form{
    width: 50vw;
}

div{
    width:100%;
    display: flex;
    flex-direction: row;
}

div input {
    margin: 5px;
    width: 25%;
    padding: 5px 0px;
}

div button{
    width: 25%;
    margin: 5px;
}