.loginContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

.imageContainer{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imageContainer img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------------------------------- */
.formContainer{
    position: relative;
    /* width: 50%; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px auto;
}

.formInput{
    width: 100%;
}

.formContainer, .formInput, .formFooter{
    padding: 0 10px;
}

.inputField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px auto;
    margin-bottom: 10px;
}

.radioField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.buttonField{
    display: flex;
    flex-direction: column;
}

input,button{
    padding: 5px;
    margin: 5px 0px;
}

.login{
    background: #04C35C;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.google{
    background: #2D3748;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
}
/* -------------------------------------------------------------------------------------- */

.formFooter{
    margin-top: 50px;
}

a{
    text-decoration: none;
    color: #2C5282;
}
/* -------------------------------------------------------------------------------------- */

@media (max-width: 991px){
    .loginContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* height: 100vh; */
    }
    .imageContainer{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .imageContainer img{
        position: absolute;
        object-fit: cover;
    }
    .formContainer{
        padding: 20px 0;
    }
}